
.header {
  background-color: black;
  background-image: none;
  padding: 50px 0;
  min-height: 100vh;
}

.header h2 {
  color: white;
  font-weight: 100;
  letter-spacing: 0;
}

.header .video-container {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 25px 0;
  margin-bottom: 25px;
}
