#neo-link-status-container {
  position: absolute;
  right: 0;
  top: 0px;
  padding: 10px 25px 5px;
  border-radius: 0;
  height: 51px;
  line-height: 51px;
}

#neo-link-status-container .status-title {
  margin-bottom: 0;
}