body {
  font-family: 'Trirong', serif;
  letter-spacing: 0.013em;
}

.container {

}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05em;
}

.page-title {
  text-align: center;
  margin: 10px 0 20px;
  font-family: 'Cutive Mono', monospace;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
}


.sticky-inner-wrapper {
  z-index: 9;
}

.button-container {
  margin-bottom: 25px;
}

.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  border: 0 !important;
  background: none !important;
}

.modal-outer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 9;
}

.modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow:0 4px 5px -3px #ececec;
  background-color: white;
  padding: 25px;
  max-width: 500px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .7s, opacity .7s linear;
}

.black {
  color: black;
  font-weight: 700;
}